<html>
<head>
	{{ content_for_header }}
	{% section 'head' %}
</head>
<body>
	{% section "header" %}

	<main class="cart-main">
		<div class="wrapper">
			<div>
				{{ content_for_layout }}
			</div>
		</div>		
	</main>

</body>
</html>