<html>

<head>
	{{ content_for_header }}
	{% section 'head' %}
	{{ "footer.css" | asset_url | stylesheet_tag }}
</head>

<body>
	{% section "header" %}

	{% section "aside" %}

	<main>
		<div class="wrapper">
			<div></div>
			<div>
				{{ content_for_layout }}
			</div>
		</div>		
	</main>
		
	{% section "footer" %}

</body>

{{ "cart-api.js" | asset_url | script_tag }}
</html>