<form action="{{ routes.cart_url }}" method="post">
	{% for item in cart.items %}
		{% render 'cart-item', item: item %}
	{% endfor %}	

	{% render 'cart-footer', cart:cart %}
</form>

{% schema %}
	{
		"name": "Cart main",
		"class": "cart"
	}
{% endschema %}
