<header>
	<div class="wrapper">
		<a href="/" class="header__logo">
			{% render 'picture-asset', img: "logo.png", width: 52, height: 32 %}
		</a>

		<a href="/customers/login" class="header__profile">
			<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.0003 0.666672C6.64033 0.666672 0.666992 6.64001 0.666992 14C0.666992 21.36 6.64033 27.3333 14.0003 27.3333C21.3603 27.3333 27.3337 21.36 27.3337 14C27.3337 6.64001 21.3603 0.666672 14.0003 0.666672ZM14.0003 4.66667C16.2137 4.66667 18.0003 6.45334 18.0003 8.66667C18.0003 10.88 16.2137 12.6667 14.0003 12.6667C11.787 12.6667 10.0003 10.88 10.0003 8.66667C10.0003 6.45334 11.787 4.66667 14.0003 4.66667ZM14.0003 23.6C12.4161 23.6 10.8566 23.208 9.4607 22.4589C8.06482 21.7097 6.87603 20.6268 6.00033 19.3067C6.04033 16.6533 11.3337 15.2 14.0003 15.2C16.6537 15.2 21.9603 16.6533 22.0003 19.3067C21.1246 20.6268 19.9358 21.7097 18.54 22.4589C17.1441 23.208 15.5845 23.6 14.0003 23.6Z" fill="#AEAEAE"/>
			</svg>				
		</a>
	</div>		
</header>