main .wrapper{
	grid-template-columns: 50px 1fr;
}

aside{
	width: 48px;
	position: fixed;
	left: 0;
	bottom: 0;
	height: calc(100vh - 59px);
	border-right: 1px solid var(--gray-300);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	box-sizing: border-box;
}

.aside-button{
	display: block;
	margin-bottom: 15px;
	transition:background-color .3s;
	border-radius: 6px;
}

.aside-button.active{
	background-color: var(--gray-400);

}

.aside-button:hover{
	background-color: var(--gray-400);
}

.aside-button:active{
	background-color: var(--gray-300);
}
