.footer-cart{
	border-top: 1px solid #F4F4F4;
	background-color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 2;
	background: rgba(255, 255, 255, 0.6);
	border: 1px solid #E2E2E2;
	backdrop-filter: blur(20px);
	border-radius:8px 8px 0 0;
	border-bottom: 0;
}

.footer-cart .wrapper{
	display: flex;
	align-items: center;
}

.footer-cart__lineitem-list{
	display: flex;
	margin-left: auto;
	overflow-y: auto;
	padding: 15px;
	padding-right: 0px;
	border-radius: 50px;
}

.footer-cart__lineitem-list li{
	margin-right: 15px;
}

.footer-cart__lineitem-list li:last-child{
	margin-right:10px;
}

.footer-cart__lineitem-list::-webkit-scrollbar {
	height: 5px; /* высота для горизонтального скролла */
	background-color: transparent;
}

/* ползунок скроллбара */
.footer-cart__lineitem-list::-webkit-scrollbar-thumb {
	background-color: #4E5B63;
	border-radius: 10px;
}

.footer-cart__lineitem-list::-webkit-scrollbar-thumb:hover {
	background-color: #00a3ff;
}

/* Стрелки */
.footer-cart__lineitem-list::-webkit-scrollbar-button:vertical:start:decrement,
.footer-cart__lineitem-list::-webkit-scrollbar-button:vertical:end:increment,
.footer-cart__lineitem-list::-webkit-scrollbar-button:horizontal:start:decrement,
.footer-cart__lineitem-list::-webkit-scrollbar-button:horizontal:end:increment {
	opacity: 0;
}

.footer-cart__lineitem-list img{
	display: block;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: drop-shadow(0px 2px 2px rgba(0,0,0,.19));
}

.footer-cart__lineitem{
	position: relative;
	display: block;
	transition: .3s;
	width: 32px;
	height: 32px;
	transform-origin: center;
}

.footer-cart__lineitem:hover{
	transform: scale(1.11);
}

.footer-cart__lineitem:active{
	transform: scale(0.95);
}

.footer-cart__lineitem span{
	font-size: 10px;
	background: #00A3FF;
	padding: 2px 5px;
	border-radius: 12px;
	color: #fff;
	position: absolute;
	right: -4px;
	top: -2px;
	z-index: 2;
}

.footer-cart__cart-link{
	display: flex;
	padding: 8px;
	background: #4E5B63;
	border-radius: 6px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	flex-shrink: 0;
	margin-left: 7px;
	transition:box-shadow .2s linear, background-color .2s linear,color .1s linear;
}

.footer-cart__cart-link svg{
	margin-right: 8px;
}

.footer-cart__cart-link:hover{
	box-shadow: 0px 3px 5px rgba(0,0,0,.22);
	background-color: #00A3FF;
	color: #fff;
}

.footer-cart__cart-link:active{
	box-shadow: 0px 0px 0px rgba(0,0,0,.22);
}