.product__back-link{
	margin-top: 15px;
	display: inline-block;
	margin-bottom: 15px;
}

.product__back-link svg{
	display: block;
}

.product__back-link svg path{
	transition: fill .3s;
}

.product__back-link:hover svg path{
	fill: var(--blue);
}

.product__back-link:active svg path{
	fill: var(--lightblue);
}

.product__image img{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	margin-bottom: 30px;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.19));
}

.product__heading{
	display: flex;
	align-items: flex-end;
	margin-bottom: 15px;
	justify-content: space-between;
}

.product__heading h1{
	margin-right: 10px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.product__heading span{
	flex-shrink: 0;
	font-size: 14px;
	line-height: 20px;
}

.product__description{
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 24px;
}

.product__stats > h2{
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
}

.product__stats-container{
	border: 1px solid var(--gray-400);
	border-radius: 6px;
	padding: 7px 0;
	display: flex;
	justify-content: space-between;
}

.product__stat{
	width: 33.33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product__stat h2{
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 2px;
}

.product__stat span{
	font-size: 13px;
	line-height: 18px;
}

.product__buy-btn{
	width: 100%;
	display: block;
	padding: 10px;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	border:0;
	border-radius: 6px;
	transition:box-shadow .2s linear, background-color .2s linear,color .1s linear;
}

.product__buy-btn svg{
	margin-right: 5px;
}

.product__buy-btn:hover{
	box-shadow: 0px 3px 5px rgba(0,0,0,.22);
	background-color: var(--blue);
	color: var(--white);
}

.product__buy-btn:active{
	box-shadow: 0px 0px 0px rgba(0,0,0,.22);
	background-color: var(--lightblue);
	color: var(--white);
}

.product__buy-btn:active svg path{
	fill: var(--white);
}

.product-card__info form svg path{
	transition: .15s linear;
}

.product__buy-btn:hover svg path{
	fill: var(--white);
}

.product__buy-btn span{
	display: flex;
	align-items: center;
}

.product__buy-btn svg{
	margin-right: 4px;
}


