.product-card{
	border: 1px solid var(--gray-300);
	box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	padding: 16px;
	display: flex;
	transition: box-shadow .3s, border-color .3s;
}

.product-card:hover{
	box-shadow: 0px 6px 9px rgb(0 0 0 / 10%);
	border-color: var(--gray-400);
}

.product-card:active{
	box-shadow: 0;
	border-color: var(--gray-300);
}

.product-card img{
	flex-shrink: 0;
	flex-grow: 0;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.19));
	margin-top: 10px;
}

.product-card__info{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 15px;
}

.product-card__info h2{
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	transition: .3s color;
}

.product-card__info h2 a:hover{
	color: var(--blue);
}

.product-card__info h2 a:active{
	color: var(--lightblue);
}

.product-card__info p{
	font-size: 12px;
	line-height: 20px;
	color: var(--gray-600);
	margin-bottom: 16px;
}

.product-card__info button{
	padding: 5px;
	width: fit-content;
	width: -moz-fit-content;
	margin-left: auto;
}
