body{
	margin: 0;
	padding: 0;
	position: relative;
}

button{
	cursor: pointer;
}

.d-block{
	display: block;
}

.visually-hidden{
	
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	
}

h2,h1,p,span,form,a, button{
	margin: 0;
	padding: 0;
	font-family: "SF";
}

a{
	text-decoration: none;
}

a:focus,button:focus{
	outline: 2px solid var(--lightblue);
	border-radius: 6px;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

input:focus{
	outline-color: var(--lightblue);
}

main .wrapper{
	padding: 0;
	padding-top: 60px;
	padding-bottom: 75px;
	display: grid;
	grid-template-columns: 50px 1fr;
}

main .wrapper > div:nth-of-type(2){
	padding:0 15px;
}

aside{
	width: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	height: calc(100vh - 48px);
	border-right: 1px solid var(--gray-300);
}

.wrapper{
	max-width: 375px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}

.back-link{
	margin-top: 15px;
	display: inline-block;
	margin-bottom: 15px;
}

.text-center{
	text-align: center;
}

.back-link svg{
	display: block;
}

.back-link svg path{
	transition: fill .3s;
}

.back-link:hover svg path{
	fill: var(--blue);
}

.back-link:active svg path{
	fill: var(--lightblue);
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	border:2px solid var(--gray-300);
	border-radius: 6px;
	transition:box-shadow .2s linear, background-color .2s linear,color .1s linear,border-color .2s linear;
}

.button:disabled{
	background: var(--gray-300);
	border: 2px solid var(--gray-400);
	color: var(--gray-500);
	cursor: default;
}

.button:disabled svg{
	display: none;
}

.button svg{
	margin-right: 5px;
}

.button:not([disabled]):hover{
	box-shadow: 0px 3px 5px rgba(0,0,0,.22);
	background-color: var(--blue);
	border-color: var(--blue);
	color: var(--white);
}

.button:not([disabled]):active{
	box-shadow: 0px 0px 0px rgba(0,0,0,.22);
	background-color: var(--lightblue);
	border-color: var(--lightblue);
	color: var(--white);
}

.button:not([disabled]):active svg path{
	fill: var(--white);
}

.button:not([disabled]):hover svg path{
	fill: var(--white);
}

.button svg{
	margin-right: 4px;
}