{% layout 'cart-layout' %}

{{ "cart.css" | asset_url | stylesheet_tag }}


{% section "cart-header" %}

<div class="cart">

	<form action="{{ routes.cart_url }}" method="post">
		{% section "cart-lineitem" %}		
		{% section "cart-footer" %}
	</form>
	
</div>


{{ "cart-api.js" | asset_url | script_tag }}
{{ 'cart.js'  | asset_url | script_tag }}
