{% layout 'cart-layout' %}

{{ "cart.css" | asset_url | stylesheet_tag }}
{{ "cart-item.css" | asset_url | stylesheet_tag}}

{% section 'cart-heading' %}

<div class="cart">
	<form action="{{ routes.cart_url }}" method="post">
		{% for item in cart.items %}

		{% render 'cart-item', item: item %}

		{% endfor %}

		<input class="visually-hidden" id="update-cart" type="submit" value="Update cart">
		
		{% section 'cart-footer' %}
	</form>
</div>


{{ 'cart.js'  | asset_url | script_tag }}
